<!DOCTYPE html>
<html>
<head>
<title>Edit Old Media</title>
</head>
<body>
    <a href="/home">Home/View</a>
    <a href="/admin">Administration</a>
    <a href="/edit">Edit items</a>
    <a href="/add">Add items</a>
    <h1>Welcome to the Media Tracker</h1>
    {% if results %}
    <table style="width:100%">
        {% for entity,value in results.items() %}
        <tr>
            <td>{{ entity }}</td>
            {% for item in value %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>
