<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
<title>How-To Jenkins</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jumbotron.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/howto">Home</a>
            <a class="navbar-brand" href="howto/first.html">First</a>
            <a class="navbar-brand" href="howto/second.html">Second</a>
            <a class="navbar-brand" href="howto/third.html">Third</a>
            <a class="navbar-brand" href="howto/fourth.html">Fourth</a>
            <a class="navbar-brand" href="howto/five.html">Fifth</a>
            <a class="navbar-brand" href="howto/six.html">Sixth</a>
            <a class="navbar-brand" href="howto/seven.html">Seventh</a>
        </div>
    </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
    <h1>How-to use Jenkins with web and windows apps</h1>
    <p>
    This tutorial will cover using Jenkins CI as it's intended, for continuous integration. 
    Specifically, it will cover getting a cloud based Google App Engine website deployed, 
    windows app compiled, and all of them tested. From installation to automatic build and 
    deploy off of a github code change.
    <p>
    This will be used to ensure that the development is the only 
    thing to worry about and new tests and code can be added with very little extra effort. 
    This is the core idea behind continuous integration and this will be the focus of this how-to.
</div>
</div>
</body>
