<!DOCTYPE html>
<html>
<head>
<title>Media Tracker</title>
</head>
<body>
    <a href="/home">Home/View</a>
    <a href="/admin">Administration</a>
    <a href="/edit">Edit items</a>
    <a href="/add">Add items</a>
    <a href="/howto">Howto</a>
    <h1>Welcome to the Media Tracker</h1>
    {% if results %}
    <table style="width:100%">
        <tr>
            <td>Type</td>
            <td>Name</td>
            <td>Complete?</td>
            <td>Genre</td>
            <td>Platform</td>
            <td>Priority</td>
            <td>Episode</td>
        {% for entity,value in results.items() %}
        {% for item in value %}
        <tr>
            <td>{{ entity }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.complete }}</td>
                <td>{{ item.genre }}</td>
                <td>{{ item.platform }}</td>
                <td>{{ item.priority }}</td>
                <td>{{ item.episode }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>
